  <footer class="c-Footer o-Layout pure-g">
    <div class="pure-u-sm-1-4">&nbsp;</div>
    <p class="pure-u-sm-3-4 c-Meta">
      &copy; {{ site.time | date: '%Y' }} 0xADADA (unless otherwise noted.)
      <br>
      <a class="c-Meta" href="mailto:0xadada.pub.{{ site.time | date: '%Y' }}@0xadada.pub"
        rel="external" title="Email 0xADADA">Email</a>
      <a class="c-Meta" href="https://twitter.com/0xadada"
        rel="external" title="0xADADA on Twitter">Twitter</a>
      <a class="c-Meta" href="https://github.com/0xadada"
        rel="external" title="0xADADA on GitHub">GitHub</a>
      <a class="c-Meta" href="https://keybase.io/0xadada"
        rel="external" title="0xADADA on Keybase">Keybase</a>
    </p>
  </footer>

  {% if site.is_dev %}
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

  {% if page.alternate %}
  <script>
    document.location = document.querySelector('link[rel="alternate"]').href
  </script>
  {% endif %}
  <amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
      {
        "vars": {
          "account": "UA-66660439-1"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
    </script>
  </amp-analytics>
</body>
</html>
