<footer class="c-Footer o-Layout pure-g">
  <div class="pure-u-sm-1-4">&nbsp;</div>

  <p class="pure-u-sm-3-4 c-Meta">
    &copy; 2003-{{ site.time | date: '%Y' }} 0xADADA (unless otherwise noted.)
    <br>
    <a class="c-Meta" href="/feed.xml"
      rel="me" title="0xADADA Atom Feed"><img
        src="{{ site.data.uris['rss'].url }}"
        alt="RSS Feed" height=16 width=16></a>

    <span class="h-card">
      <a class="c-Meta u-email" href="mailto:0xadada.pub.{{ site.time | date: '%Y' }}@0xadada.pub"
        rel="me" title="0xADADA">Email</a>
      <a class="c-Meta fn p-name u-url t-visuallyhidden" href="https://0xadada.pub"
        rel="me" alt="0xADADA" title="0xADADA">0xADADA</a>
      <span class="p-note t-visuallyhidden">
        {{ site.data.authors["0xADADA"].note }}
      </span>
      <img class="u-photo t-visuallyhidden"
        src="{{ site.url }}/static/images/meta/apple-touch-icon.png"
        alt="0xADADA" height=64 width=64>
    </span>

    <a class="c-Meta" href="/webmentions">Webmentions</a>
    <a class="c-Meta" href="https://twitter.com/0xadada"
      rel="me nofollow external noopener" title="0xADADA on Twitter">Twitter</a>
    <a class="c-Meta" href="https://mastodon.cloud/@0xadada"
      rel="me nofollow external noopener" title="0xADADA on Mastodon">Mastodon</a>
    <a class="c-Meta" href="https://github.com/0xadada"
      rel="me nofollow external noopener" title="0xADADA on GitHub">GitHub</a>
    <a class="c-Meta" href="https://keybase.io/0xadada"
      rel="me nofollow external noopener" title="0xADADA on Keybase">Keybase</a>
    <a class="c-Meta" href="https://www.goodreads.com/review/list/60524683-0xadada?shelf=wanted"
      rel="me nofollow external noopener" title="0xADADA on Goodreads">Goodreads</a>
    <a class="c-Meta" href="javascript:document.location.search='format=ascii'"
      rel="nofollow" title="ASCII mode">ASCII</a>
  </p>
</footer>
