
<style amp-custom>
  /*
   * Use box-sizing
   */
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:target {
    background: lightgreen;
    border: 1px dotted;
    padding: 0.25em;
  }

  html,
  button,
  input,
  select {
    /* anti-aliasing
     * Frankly, i don't know why anti-aliasing isn't enabled by default.
     * It probably should be, but its nice that "good" developers
     * can make their sites look nicer by opting-into antialiased type.
     */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-smooth: always; */

    /* text size adjust
     * allows Web authors to control if and how
     * the text-inflating algorithm is applied to the textual content
     * of the element it is applied to.
     */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;

    /* Normalize font stack. */
    font-family: "Source Serif Pro", "Times New Roman", Times, serif;
    font-size: 100%;
  }

  body {
    background: #FDF9F0;
    color: #292929;
    padding: 1.5em;
  }
  a {
    color: #292929;
    text-decoration: underline;
  }
  a:hover {
    color: #0000cc;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  code,
  pre {
    font-family: 'Source Code Pro', monospace;
  }

  img {
    max-width: 100%;
  }
  /* ===== code highlighting =========================================== */
  .highlight  { background: #ffffff; }
  .highlight .c { color: #999988; font-style: italic } /* Comment */
  .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .highlight .k { font-weight: bold } /* Keyword */
  .highlight .o { font-weight: bold } /* Operator */
  .highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
  .highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
  .highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
  .highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
  .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  .highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
  .highlight .ge { font-style: italic } /* Generic.Emph */
  .highlight .gr { color: #aa0000 } /* Generic.Error */
  .highlight .gh { color: #999999 } /* Generic.Heading */
  .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
  .highlight .go { color: #888888 } /* Generic.Output */
  .highlight .gp { color: #555555 } /* Generic.Prompt */
  .highlight .gs { font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #aaaaaa } /* Generic.Subheading */
  .highlight .gt { color: #aa0000 } /* Generic.Traceback */
  .highlight .kc { font-weight: bold } /* Keyword.Constant */
  .highlight .kd { font-weight: bold } /* Keyword.Declaration */
  .highlight .kp { font-weight: bold } /* Keyword.Pseudo */
  .highlight .kr { font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
  .highlight .m { color: #009999 } /* Literal.Number */
  .highlight .s { color: #d14 } /* Literal.String */
  .highlight .na { color: #008080 } /* Name.Attribute */
  .highlight .nb { color: #0086B3 } /* Name.Builtin */
  .highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
  .highlight .no { color: #008080 } /* Name.Constant */
  .highlight .ni { color: #800080 } /* Name.Entity */
  .highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
  .highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
  .highlight .nn { color: #555555 } /* Name.Namespace */
  .highlight .nt { color: #000080 } /* Name.Tag */
  .highlight .nv { color: #008080 } /* Name.Variable */
  .highlight .ow { font-weight: bold } /* Operator.Word */
  .highlight .w { color: #bbbbbb } /* Text.Whitespace */
  .highlight .mf { color: #009999 } /* Literal.Number.Float */
  .highlight .mh { color: #009999 } /* Literal.Number.Hex */
  .highlight .mi { color: #009999 } /* Literal.Number.Integer */
  .highlight .mo { color: #009999 } /* Literal.Number.Oct */
  .highlight .sb { color: #d14 } /* Literal.String.Backtick */
  .highlight .sc { color: #d14 } /* Literal.String.Char */
  .highlight .sd { color: #d14 } /* Literal.String.Doc */
  .highlight .s2 { color: #d14 } /* Literal.String.Double */
  .highlight .se { color: #d14 } /* Literal.String.Escape */
  .highlight .sh { color: #d14 } /* Literal.String.Heredoc */
  .highlight .si { color: #d14 } /* Literal.String.Interpol */
  .highlight .sx { color: #d14 } /* Literal.String.Other */
  .highlight .sr { color: #009926 } /* Literal.String.Regex */
  .highlight .s1 { color: #d14 } /* Literal.String.Single */
  .highlight .ss { color: #990073 } /* Literal.String.Symbol */
  .highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #008080 } /* Name.Variable.Class */
  .highlight .vg { color: #008080 } /* Name.Variable.Global */
  .highlight .vi { color: #008080 } /* Name.Variable.Instance */
  .highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

  /* ===== Tools ======================================================= */

  /*
   * Hide only visually, but have it available for screenreaders: h5bp.com/v
   */
  .t-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  /*
   * Extends the .visuallyhidden class to allow the element to be focusable
   * when navigated to via the keyboard: h5bp.com/p
   */
  .t-visuallyhidden.focusable:active,
  .t-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  /* ===== Objects ======================================================= */

  /* ===== o-Layout ======================================================
   * Designates the main site horizontal widths
   */
  .o-Layout {
    max-width: 57em;
    margin: 0 auto;
  }


  /* ===== o-Center ====================================================== */
  .o-Center {
    text-align: center;
  }

  /* ===== Components ==================================================== */

  .c-Avatar {
    border-radius: 2em;
    display: inline-block;
    height: 4em;
    overflow: hidden;
    width: 4em;
  }

  /* ===== c-Header ======================================================
   * The global site header
   * c-Header
   */
  .c-Header {
    margin-bottom: 4.5em;
  }

  /* ===== c-Grid ======================================================
   * The grid component
   * c-Grid
   */
  @media screen and (min-width: 35em) {
    .c-Grid {
      display: flex;
      flex-wrap: wrap;
    }
    .c-Grid--1-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .c-Grid--3-4 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }


  /* ===== c-GlobalNav ===================================================
   * The global navigation links
   */
  .c-GlobalNav {
    font-family: sans-serif;
  }
  .c-GlobalNav--List {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .c-GlobalNav--Item {
    display: inline-block;
    padding: 0 1em;
  }
  .c-GlobalNav--Item:first-child { padding-left: 0; }
  .c-GlobalNav--Item:last-child { padding-right: 0; }
  .c-GlobalNav--Link:link {
    color: #292929;
    text-decoration: none;
  }
  .c-GlobalNav--Link:hover,
  .c-GlobalNav--Item.is-active .c-GlobalNav--Link {
    text-decoration: underline;
  }


  /* ===== c-Footer ======================================================
   * Global site footer
   */
  .c-Footer {
    margin: 1.5em auto;
    border-top: 1px solid rgba(61, 70, 77, 0.1);
  }


  /* ===== c-Meta ========================================================
   * Non-content styling
   */
  .c-Meta {
    color: rgba(61, 70, 77, 0.6);
  }

  /* ===== c-License =====================================================
   * Copyright and ownership styles
   */
  .c-License {
    margin-top: 4em;
    margin-bottom: 4em;
  }
 </style>
