<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Serif+Pro:400,700">
  <link rel="home" href="{{ site.url }}">
  {% feed_meta %}
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}/sitemap.xml">

{% if page.alternate %}
  <meta http-equiv="refresh" content="0;url={{ page.alternate }}" />
  <link rel="alternate" href="{{ page.alternate }}">
  <link rel="canonical" href="{{ page.alternate }}">
{% else %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
{% endif %}
  {% include head_meta.html %}
  {% capture styles %}
  {% include styles.scss %}
  {% endcapture %}
  <style>
  {{ styles | scssify }}
  </style>

  <link rel="manifest" href="/static/images/meta/manifest.json">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/meta/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/images/meta/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/images/meta/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="/static/images/meta/safari-pinned-tab.svg" color="#5bbad5">
</head>
<body>

<header class="o-Layout c-Header c-Grid">
  <div class="c-Grid--1-4">
    <a class="c-GlobalNav--Link c-Avatar" href="/" title="Home">
      <img src="/static/images/meta/avatar.svg"
        alt="0xADADA" height=64 width=64>
    </a>
  </div>
  <div class="c-Grid--3-4">
    {% include nav.html %}
  </div>
</header>
