<figure class="c-Museum">
  <ol class="c-Museum--Gallery">
  {% for image in page.imageGalleries[include.images] %}
    <li class="c-Museum--GalleryItem">
      <input class="c-Museum--GalleryOption"
        id="{{ image.alt | slugify | default: image.src | slugify }}"
        type="radio" name="gallery-{{ include.images | slugify }}"
        {% if forloop.index == 1 %} checked{% endif %}>
      <div class="c-Museum--GalleryImage">
        <img src="{{ image.src }}" alt="{{ image.alt | default: image.src | slugify }}">
        {% if image.alt %}
          <p>{{ image.alt }}</p>
        {% endif %}
      </div>
    </li>
  {% endfor %}
    <li>
      <ol class="c-Museum--Gallery c-Museum--GalleryThumbnails">
      {% for image in page.imageGalleries[include.images] %}
        <li class="c-Museum--GalleryThumbnail">
          <label for="{{ image.alt | default: image.src | slugify}}">
            <img src="{{ image.src }}" alt="{{ image.alt | default: image.src | slugify}}"
              aria-label="Select {{ image.alt }}">
          </label>
        </li>
      {% endfor %}
      </ol>
    </li>
  </ol>
  <figcaption>{{ include.caption }} </figcaption>
</figure>
