<nav class="c-GlobalNav pure-menu pure-menu-horizontal" role="navigation">
  <ul class="c-GlobalNav--List pure-menu-list">
  {% assign pages = site.pages | sort:"url" %}
  {% for p in pages %}
  {% if p.inNav == true %}
    <li class="c-GlobalNav--Item pure-menu-item{% if p.url == page.url %} is-active{% endif %}">
      <a class="c-GlobalNav--Link pure-menu-link" href="{{ p.url }}">
        {% if p.navTitle %}
        {{ p.navTitle }}
        {% else %}
        {{ p.title }}
        {% endif %}
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
