{% if site.is_dev %}
  <script src="//localhost:35729/livereload.js"></script>
{% endif %}

{% if page.alternate %}
  <script>
    document.location = document.querySelector('link[rel="alternate"]').href
  </script>
{% endif %}

{% if layout.webmentions %}
  <script id="webmention-hosted">
    (function (d) {
      var sn = d.createElement("script"),
          s = d.getElementsByTagName("script")[0],
          url;
      url = d.querySelectorAll ? d.querySelectorAll("link[rel~=canonical]") : false;
      url = url && url[0] ? url[0].href : false;
      sn.type = "text/javascript";
      sn.async = true;
      sn.src = "https://webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
      s.parentNode.insertBefore(sn, s);
    }(document));
  </script>
{% endif %}
