<article class="o-Layout c-Grid h-entry">
  <header class="c-Header c-Grid--1-4">
    <h1>
      Like
    </h1>
  </header>

  <div class="c-Grid--3-4 e-content">
    <p class="p-name">
      ❤️
      Liked
      <a class="u-like-of"
        href="{{ page.target }}" rel="external">{{ page.target }}</a>.
    </p>
    <p>
      <time class="published updated dt-published"
        datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%A %B %-d, %Y" }}
      </time>
    </p>
  </div>
  <div hidden>
    {{ page.generator }}
  </div>
</article>
