<article class="o-Layout h-entry">
  <header class="c-Header">
    <h1>Like</h1>
    <time class="published updated dt-published"
      datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%A %B %-d, %Y" }}
    </time>
    <div hidden>
      {% include byline.html authorName="0xADADA" %}
    </div>
  </header>

  <div class="e-content">
    <p class="p-name">
      ❤️
      Liked
      <a class="u-like-of"
        href="{{ page.target }}" rel="external nofollow">{{ page.title }}</a>.
    </p>
    <div>
      {{ content }}
    </div>
  </div>

  {% if page.generator %}
    <div hidden>
      generator: {{ page.generator }}
    </div>
  {% endif %}
</article>
