/**
 * tools & objects
 */

/**
 * t-visuallyhidden
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.t-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.t-visuallyhidden.focusable:active,
.t-visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/** o-Layout
 */
.o-Layout {
  max-width: 57em;
  margin: 0 auto;
}


/** o-Center
 */
.o-Center {
  text-align: center;
}

/** other
 * ========================================================================== */
.byline,
.byline .author,
.published {
  color: darkgrey;
}

