.years {
  margin: 0;
  padding: 0;
  list-style: none;
}

.year {
  font-size: 1.25rem;
}

.posts {
  list-style: none;
  margin: 0 0 0 1rem;
  padding: 0;
}
@media (min-width: 48rem) {
  .years {
    display: grid;
    grid-template-areas: "year list";
    grid-template-columns: 6rem auto;
  }

  .year {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: subgrid;
  }
  .posts {
    grid-column: 2 / 3;
  }
}

.post {
  margin-bottom: 2em;
}
