.years {
  margin: 0;
  padding: 0;
  list-style: none;
}

.year {
  font-size: 1.25rem;
}

.posts {
  list-style: none;
  margin: 0 0 0 1rem;
  padding: 0;
}
@media (min-width: 48rem) {
  .year {
    display: grid;
    grid-template-areas: "year posts";
    grid-template-columns: 6rem auto;
  }
  .yearLabel {
    grid-area: year;
  }
  .posts {
    grid-area: posts;
    margin: 0;
  }
}

.post {
  margin-bottom: 2em;
}
