---
layout: compress
---

{% include head.html %}

<article class="o-Layout c-Long hentry h-entry">
  <header class="c-Header">
    <h1 class="entry-title p-name">
    {% if page.displayTitle %}
      {{ page.displayTitle }}
    {% endif %}
    </h1>

    <div class="t-visuallyhidden">
      <span class="entry-summary p-summary">
        {{ page.excerpt | strip_html }}
      </span>
      <a href="{{ site.url }}{{ page.url }}"
        class="u-url"
        rel="bookmark">
        {{ page.displayTitle }}
      </a>
    </div>

    {% if page.date %}
    <time class="published updated dt-published"
      datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%A %B %-d, %Y" }}
    </time>
    {% endif %}

    {% if page.author %}
    <br>
    <span class="byline vcard h-card">
      by:
      {% if page.authorUrl %}
      <a class="author fn p-author p-name" href="{{ page.authorUrl }}"
        rel="nofollow">
        {{ page.author }}
      </a>
      {% else %}
      <a class="author fn p-author p-name" href="https://0xadada.pub/about/"
        rel="me">
        {{ page.author }}
      </a>
      {% endif %}
    </span>
    {% endif %}
  </header>

  <div class="entry-content e-content">
    {{ content }}
  </div>

  {% if page.license %}
  <footer class="c-Meta c-License">
    {% if page.license == "cc-by-nc-sa" %}
    {% include cc-by-nc-sa.html %}
    {% elsif page.license == "cc-by-sa" %}
    {% include cc-by-sa.html %}
    {% elsif page.license == "cc-by" %}
    {% include cc-by.html %}
    {% endif %}
  </footer>
  {% endif %}

</article>

{% include footer.html %}
