---
layout: page
title: Tags
displayTitle: Tag archive
---

{{ content }}

{% if site.tags[page.slug] %}
  <ol class="c-Index">
  {% for post in site.tags[page.slug] %}
    {% if post.hidden != true %}
    <li class="c-Index--Item">
      <a href="{{ post.url }}" title="{{ post.title }}">
        <span>{{ post.title }}</span>
      </a>
      <br>
      {% if post.metaDescription %}
      <span>{{ post.metaDescription }}</span>
      {% endif %}
      <br>
      <time class="published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%A %B %-d, %Y" }}</time>
    </li>
    {% endif %}
  {% endfor %}
  </ol>
{% else %}
  <p>There are no posts in this tag.</p>
{% endif %}
